.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

body {
    font-family: 'Quicksand', sans-serif;
    background-color: #817FB2;
    /*text-align: center;*/
    line-height: 20px;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  background: #817FB2;
  border-bottom: 2px solid #0A093B;
  height: 70px;
  width: 100%;
  box-shadow: 0 1px 1px #817FB2;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0a093b', endColorstr='#817FB2',GradientType=1 ); /* IE6-9 */
  background-color: #0A093B !important;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
  text-align: center;
}

nav ul {
  float: right;
  width: auto;
}

nav li {
  float: left;
  width: auto;
}

nav li a {
  padding: 25px 10px;
  display: block;
  text-decoration: none;
  color: #C9E4D8;
  font-family: 'Quicksand', sans-serif;
}

body {
  padding-top: 65px;
}

#hero {
  background-image: url(../images/sky.jpg);
  background-size: 100%;
  background-position: 100% center;
  color: #0A093B;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 10px;
  border-bottom: 1px solid #0A093B;
  background-repeat: no-repeat;
}

.purple-blond-headshot {
  width: 10%;
  border-radius: 15px;
  margin-bottom: 8px;
  min-width: 95px;
  border: 2px solid #0A093B;
}

.nottoowide {
  text-align: center;
  margin: auto;
}

main-content {
  max-width: 824px;
  text-align: center;
  margin: 0 auto;
}

.column {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
  margin: 0 auto;
}

section.column {
    display: inline-block;
    margin: 0px auto;
    float: none;
    text-align: center;
    margin: 0 auto;
}

.column a {
  color: #C9E4D8;
  text-decoration: none;
}

.column-img {
  height: 237px;
  border-radius: 15px;
  border: 2px solid #0A093B;
  /*width: 70%;*/
  max-width: 284px;
  margin: 5px auto;
  text-align: center;
}

.storeapp-img {
  background-image: url("../images/storeapp.png");
  background-size: cover;
  min-width: 255px;
}

.monster-img {
  background-image: url("../images/monster.png");
  background-size: cover;
  min-width: 255px;
}

.resume-img {
  background-image: url("../images/resume.png");
  background-size: cover;
  min-width: 255px;
}

.apichallenge-img {
  background-image: url("../images/cnn-logo.jpg");
  background-size: cover;
  min-width: 255px;
}

.friendlist-img {
  background-image: url("../images/friendlist.png");
  background-size: cover;
  min-width: 255px;
}

.library-img {
  background-image: url("../images/library.png");
  background-size: cover;
  min-width: 255px;
}

.bucketlist-img {
  background-image: url("../images/bucketlist.png");
  background-size: cover;
  min-width: 255px;
}

.workoutlog-img {
  background-image: url("../images/workoutlog.png");
  background-size: cover;
  min-width: 255px;
}

.coding-img {
  background-image: url("../images/coding.jpg");
  background-size: cover;
  min-width: 255px;
}

.building-app-img {
  background-image: url("../images/building-app.jpg");
  background-size: cover;
  min-width: 255px;
}

.acting-workshop-img {
  background-image: url("../images/acting-workshop.jpg");
  background-size: cover;
  min-width: 255px;
}

.iwritecode-img {
  background-image: url("../images/iwritecode.jpg");
  background-size: cover;
  min-width: 255px;
}

.under-photo {
  text-align: center;
}

/*
.bsu-goodbye-img {
  background-image: url("../images/bsu-goodbye.jpg");
  background-size: cover;
  min-width: 255px;
}

/*.photo-gallery {
  max-height: 500px;
  max-width: 500px;
  object-fit: cover;
}*/

/*.esl-skits-img {
  background-image: url("../images/esl-skits.jpg");
  background-size: cover;
  max-height: 500px;
  width: auto;
}*/

.container {
  max-width: 80%;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.2em;
}

.volunteer {
  font-size: 1.1em;
}

#aboutme {
  border-top: 2px solid #0A093B;
  box-shadow: 2px 2px 2px #0A093B;
  width: 100%;
  background-color: #0A093B;
  color: #C9E4D8;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: left;
  padding: 50px 0;
}

#aboutme h3 {
  text-align: center !important;
}

/*#aboutme p {
  text-align: center;
  max-width: 1170px;
}*/

.highly-motivated {
  text-align: left;
  max-width: 1070px;
  margin: auto;
  /*margin: 0 12% 0 12%;*/
  padding: 0 1em;
}

#resume {
  text-align: center;
  width: 100%;
}

#resume a {
  text-decoration: none;
  color: #C9E4D8;
  text-align: center;
}

#resume a:hover {
  text-decoration: underline;
}

.center-social {
  max-width: 300px;
  text-align: center;
  margin: 0 auto;
}

.form-inline {
  text-align: left;
  border: 2px solid #0A093B;
  padding: 20px;
  border-radius: 15px;
  /*background-color: #C9E4D8;*/
  background-color: #0A093B;
  color: #C9E4D8;
}

form {
  line-height: 20px;
  /*width: 300px;*/
  margin: auto;
}

form h3 {
  font-size: 1.3em;
}

footer {
  margin: 50px;
  padding: 40px;
  text-align: center;
  padding-bottom: 15px;
}

footer ul {
  margin: 0;
  padding: 0;
  overflow: hidden;
  list-style-type: none;
  text-align: center;
}

.fa {
  color: #0A093B;
}

footer li {
  display: inline-block; /* Makes the icons line up the way I want.*/
  padding-right: 10px;
  font-size: 2em;
  padding-top: 10px;
}

#icons {
  margin: 10px;
}

img {
  max-width: 100%;
}

@media screen and (min-width: 300px) {
  .column {
    width: 90%;
  }
  #hero {
    background-size: 180%;
  }
  nav {
    height: 100px;
    line-height: 0.1;
  }
  body {
    padding-top: 100px;
  }
}

@media screen and (min-width: 844px) {
  .column {
    width: 40%;
  }
  #hero {
    background-size: 120%;
  }
}

/* As you decrease the width of the view, here's where it goes down from 2 columns to 1 column: */
@media screen and (min-width: 1048px) {
  .column {
    width: 33%;
  }
  #hero {
    background-size: 100%;
  }
}

@media print {
	#header-image {
		display: none;
  }
}

/*
@media screen and (min-width: 300px) {
  .column {
    width: 90%;
  }
}

@media screen and (min-width: 661px) {
  .column {
    width: 40%;
  }
}

@media screen and (min-width: 888px) {
  .column {
    width: 29%;
  }
}

@media print {
	#header-image {
		display: none;
*/
